@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  min-height: 100vh;  
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
  height: 500px;  
  margin: 0 auto;
}

.header-nav .logo-placeholder {
  font-size: 26px;
  font-weight: 700;
  color: #f9faf8;
}

.header-nav {  
  margin: 0px auto;
  padding-top: 20px;
  max-width: 71vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 110px;
}

.header-nav ul {
  margin: 0px;
  padding-left: 15px;
  list-style: none;
  display: flex;  
  gap: 25px;
}

.header-nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #e5e7ebd0;
}

.header-content {
  max-width: 71vw;
  margin: 0px auto;
  display: flex;
}

.header-content h1 {  
  font-size: 50px;
  font-weight: 900;
  color: #f9faf8;
}

.header-img {
  background-color: #6d747d;
  height: 250px;
  flex-basis: 600px;  
}

.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
}